/* Start Sliding Navbar CSS */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body {
  background: #f2f2f2;
}

body,
* {
  padding: 0;
  margin: 0;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #292929;
  display: inline-block;
  height: 50vh;
  position: absolute;
}

.nav li {
  cursor: pointer;
  border-top: 1px solid #dad2d2;
  border-bottom: 1px solid #dad2d2;
  margin-bottom: 0px;
  width: 80px;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  color: #ffffff;
}

.nav li div,
.nav li i {
  position: absolute;
  text-align: center;
  animation-duration: 0.34s;
}

.nav li div {
  margin-left: 80px;
  text-align: center;
  width: 160px;
}

.nav li i {
  line-height: 60px;
  width: 80px;
  z-index: 9;
}

.nav li:nth-child(1) i {
  background: #00aced;
}

.nav li:nth-child(2) i {
  background: #00454b;
}

.nav li:nth-child(3) i {
  background: #00a300;
}

.nav li:nth-child(4) i {
  background: #1e7145;
}

.nav li:nth-child(5) i,
nav li div:nth-child(5) {
  background: #ffc40d;
}

.nav li:nth-child(6) i {
  background: #cb2027;
}

.nav li div {
  z-index: 1;
  background: #04d39c;
  transform: translateX(-160px);
  -webkit-transform: translateX(-160px);
  -moz-transform: translateX(-160px);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.nav li:hover>div {
  display: inline-block;
  transform: translateX(0);
}

.nav li:hover i {
  background: #04d39c;
  ;
}


.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.credits a {
  margin: 10px;
}